.login-div {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
}

.login-content {
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
}

.login-one {
    width: 45%;
    height: 80vh;
    background-color: rgb(247, 247, 247);
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-one-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.login-two {
    width: 45%;
    height: 80vh;
    background-color: var(--grayBg);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    border-radius: 0 10px 10px 0;
    padding: 5%;
    padding-right: 10%;
    padding-top: 2.5%;
}

.login-title {
    font-family: var(--openSans);
    font-weight: 500;
}

.login-text {
    /* text-align: center; */
    font-family: var(--openSans);
    font-size: .8em;
    font-weight: 400;
    color: rgb(146, 146, 146);
}

.login-form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.input-label {
    font-family: var(--openSans);
    font-size: .8em;
    font-weight: 500;
}

.login-input {
    border: none;
    /* outline: none; */
    border-radius: 3px;
    /* height: 2em; */
    padding: .5em;
    filter: drop-shadow(-1px 3px 2px var(--grayShadow));
    margin-top: 5px;
    margin-bottom: 20px;
}

.login-input:focus {
    outline: none;
    filter: drop-shadow(-1px 3px 2px var(--blue));
    transition: .25s;
}

.forgot-pass {
    text-align: right;
    font-family: var(--montserrat);
    font-size: .6em;
    margin-bottom: 1em;
    margin-top: -1em;
}

.login-submit {
    border: none;
    padding: .5em;
    font-family: var(--openSans);
    font-weight: 500;
    background-color: var(--blue);
    color: white;
    border-radius: 3px;
}

.login-ou {
    width: 100%;
    font-family: var(--montserrat);
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    border-bottom: 1px solid var(--grayText);
    line-height: 0.1em;
    margin: 20px 0 20px;
}

.login-ou span {
    background: #fff;
    padding: 0 10px;
}

.google-login{
    filter: drop-shadow(-1px 3px 2px var(--grayShadow));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.google-img{
    width: 1.25em;
    height: 1.25em;
    margin: 5px;
}

.login-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.login-footer-text{
    font-family: var(--openSans);
    color: var(--grayText);
    font-size: .6em;
}

.create-account{
    font-family: var(--openSans);
    font-size: .6em;
}

/* Global Classes */
.shape1 {
    font-size: 1em;
    padding: .5em;
    width: 100%;
    border-radius: 3px;
    border: none;
}

.button {
    cursor: pointer;
    transition: transform .5s;
    font-family: var(--openSans);
    font-size: .8em;
    border: none;
    margin-bottom: 15px;
}

.button:hover {
    transform: scale(1.075);
}

.button:focus {
    outline: none;
    text-decoration: underline;
}

.a:hover{
    text-decoration: underline;
}

.a:focus{
    outline: none;
    text-decoration: underline;
}

@media screen and (max-width: 1000px){
    .login-content{
        width: 80%;
    }
    .login-one{
        display: none;
    }
    .login-two{
        width: 100%;
        border-radius: 10px;
        padding: 10%;
        padding-top: 5%;
    }
}